[Unit]
Description=xdr-trace-monitor
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=10
TimeoutSec=infinity
EnvironmentFile=/etc/zh-xdr-trace-client/config.env

# Stop network offloading and enable promiscous mode.
ExecStartPre=-/bin/bash -c '/sbin/ethtool --offload $(/sbin/ip address | grep "^2: " | awk \'{ print $2 }\' | tr -d [:punct:]) rx off tx off'
ExecStartPre=/bin/bash -c '/sbin/ethtool -K $(/sbin/ip address | grep "^2: " | awk \'{ print $2 }\' | tr -d [:punct:]) gso off gro off'
ExecStartPre=/bin/bash -c '/sbin/ip link set $(/sbin/ip address | grep "^2: " | awk \'{ print $2 }\' | tr -d [:punct:]) promisc on'

# Perform a system cleanup and start fresh service.
ExecStartPre=-/usr/bin/docker-compose -f /opt/zh-xdr-trace-client/compose/trace-monitor.yml down -v
ExecStartPre=-/usr/bin/docker-compose -f /opt/zh-xdr-trace-client/compose/trace-monitor.yml rm -v
ExecStartPre=/usr/bin/docker-compose -f /opt/zh-xdr-trace-client/compose/trace-monitor.yml pull
ExecStart=/usr/bin/docker-compose -f /opt/zh-xdr-trace-client/compose/trace-monitor.yml up
ExecStop=/usr/bin/docker-compose -f /opt/zh-xdr-trace-client/compose/trace-monitor.yml down -v

[Install]
WantedBy=multi-user.target