/* // ================================================================================================
//  File Name: mfa.css
//  Description: Details of the MFA CSS File.
//  ----------------------------------------------------------------------------------------------
//  Item Name: Whizhack Client Dashboard
//  Author URL: https://whizhack.in
// ============================================================================================== */
.otp-input-main-box {
justify-content: space-between;
}

.otp-input-box {
    width: 50px !important;
    height: 50px !important;
    border: none;
    border-radius: 5px;
    outline: 1px solid var(--indigo);
}