/* // ================================================================================================
//  File Name: Wazuh-style.css
//  Description: Details of the HIDS Event Graph (CSS).
//  ----------------------------------------------------------------------------------------------
//  Item Name: Whizhack Client Dashboard
//  Author URL: https://whizhack.in
// ============================================================================================== */
#apexcharts22334>svg,
#apexcharts22334 foreignObject {
    height: 250px !important;
}

#apexcharts112233>svg,
#apexcharts112233 foreignObject {
    height: 300px !important;
}

#apexcharts12342>svg,
#apexcharts12342 foreignObject {
    height: 230px !important;
}