[Unit]
Description=xdr-trace-net
Requires=docker.service
After=docker.service

[Service]
Restart=always
RestartSec=10
TimeoutSec=infinity
EnvironmentFile=/etc/zh-xdr-trace-client/config.env

# Clear state or if persistence is enabled rotate and compress logs from /data
ExecStartPre=-/bin/bash -c '/opt/zh-xdr-trace-client/management/clean on'

# Remove old containers, images and volumes
ExecStartPre=-/usr/bin/docker-compose -f /opt/zh-xdr-trace-client/compose/trace-net.yml down -v
ExecStartPre=-/usr/bin/docker-compose -f /opt/zh-xdr-trace-client/compose/trace-net.yml rm -v
ExecStartPre=-/bin/bash -c 'docker network rm $(docker network ls -q)'
ExecStartPre=-/bin/bash -c 'docker volume rm $(docker volume ls -q)'
ExecStartPre=-/bin/bash -c 'docker rm -v $(docker ps -aq)'
ExecStartPre=-/bin/bash -c 'docker rmi $(docker images | grep "<none>" | awk \'{print $3}')\'

# Stop network offloading and enable promiscous mode.
ExecStartPre=-/bin/bash -c '/sbin/ethtool --offload $(/sbin/ip address | grep "^2: " | awk \'{ print $2 }\' | tr -d [:punct:]) rx off tx off'
ExecStartPre=/bin/bash -c '/sbin/ethtool -K $(/sbin/ip address | grep "^2: " | awk \'{ print $2 }\' | tr -d [:punct:]) gso off gro off'
ExecStartPre=/bin/bash -c '/sbin/ip link set $(/sbin/ip address | grep "^2: " | awk \'{ print $2 }\' | tr -d [:punct:]) promisc on'

# Set iptables accept rules to avoid forwarding to honeytrap / NFQUEUE
# Forward all other connections to honeytrap / NFQUEUE
ExecStartPre=/opt/zh-xdr-trace-client/management/rules /opt/zh-xdr-trace-client/compose/trace-net.yml set

ExecStartPre=/usr/bin/docker-compose -f /opt/zh-xdr-trace-client/compose/trace-net.yml pull
ExecStart=/usr/bin/docker-compose -f /opt/zh-xdr-trace-client/compose/trace-net.yml up
ExecStop=/usr/bin/docker-compose -f /opt/zh-xdr-trace-client/compose/trace-net.yml down -v

# Remove only previously set iptables rules
ExecStopPost=/opt/zh-xdr-trace-client/management/rules /opt/zh-xdr-trace-client/compose/trace-net.yml unset

[Install]
WantedBy=multi-user.target