.join {
    box-shadow: inset 0 0 0 0 #466671;
    color: #486291;
    padding: 0 .25rem;
    margin: 0 -.25rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  
  .join:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 #7367f0;
    cursor: pointer;
  }