[Unit]
Description=xdr-hids-health
 
[Service]
Restart=always
RestartSec=10
TimeoutSec=infinity

ExecStart=/usr/local/bin/healthcheck 
 
[Install]
WantedBy=multi-user.target

