<!-- ====================================================================================================================================== -->
<!-- File Name: test.html -->
<!-- Description: HTML Template for testing of Map feature on Client Dashboard. Currently not used -->

<!------------------------------------------------------------------------------------------------------------------------------------------ -->
<!-- Item Name: Whizhack Client Dashboard -->
<!--  Author URL: https://whizhack.in -->
<!--========================================================================================================================================  -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>webl</title>
</head>

<body>
    <h1 id="nums">work</h1>





    <script>
        var nums = document.getElementById('nums')

        var i = 1;

        setInterval(() => {
            nums.innerText = i
            i++
        }, [1000])

    </script>

</body>

</html>