/* ===============================================================================================
-------------------------
  Item Name: Whizhack Client Admin Dashboard Template
  Author: Jaydeep Roy Sarkar (WH0020)
  Author URL: https://demo-xdr.zerohack.in
================================================================================================*/
@mixin bg-opacity($color, $opacity: 1) {
  background: $color; /* The Fallback */
  background: rgba($color, $opacity);
}
