#apexcharts223344>svg,
#apexcharts223344 foreignObject {
    height: 300px !important;
}

#apexcharts112233>svg,
#apexcharts112233 foreignObject {
    height: 300px !important;
}

#apexcharts12342>svg,
#apexcharts12342 foreignObject {
    height: 230px !important;
}