/* // ================================================================================================
//  File Name: graphStyle.css
//  Description: Details of the Network Map ( CSS ).
//  ----------------------------------------------------------------------------------------------
//  Item Name: Whizhack Client Dashboard
//  Author URL: https://whizhack.in
// ============================================================================================== */
.fullscreen-enabled {
    background: inherit !important;
  }

.data-not-fount {
  margin-top: 15rem;
  text-align: center;
}